[submodule "deps/kdbx.dart"]
	path = deps/kdbx.dart
	url = ../../al-the-bear/tom_kdbx.dart
[submodule "deps/biometric_storage"]
	path = deps/biometric_storage
	url = ../../al-the-bear/tom_biometric_storage
[submodule "deps/autofill_service"]
	path = deps/autofill_service
	url = ../../al-the-bear/tom_autofill_service
[submodule "deps/mailer"]
	path = deps/mailer
	url = https://github.com/al-the-bear/tom_mailer.git
[submodule "deps/postgres_utils.dart"]
	path = deps/postgres_utils.dart
	url = https://github.com/al-the-bear/tom_postgres_utils.dart.git
[submodule "deps/smtpd.dart"]
	path = deps/smtpd.dart
	url = https://github.com/al-the-bear/tom_smtpd.dart.git
